body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f7f7f7, #d5d5d5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
}

.box {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #555;
}

#reviewsTextarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
}

#submitBtn {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submitBtn:hover {
  background-color: #0056b3;
}

#calculateBtn,
#generateWordCloudBtn {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#calculateBtn:hover,
#generateWordCloudBtn:hover {
  background-color: #0056b3;
}

#reviewsList {
  list-style: none;
}

#wordCloudImage {
  max-width: 100%;
  height:auto
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
